body{
    text-align: center;
    background-color: rgb(233, 216, 181);
}
.cabecalho{
background-color: rgb(233, 216, 181);
}
.cabecalho-titulo{
    color: rgb(34, 119, 0);
    font-size: 37px;
    font-weight: 501;
    padding: 18px;
    text-align: center;
}