body{
    text-align: center;
    background-color: rgb(233, 216, 181);
}
.cabecalho{
background-color: rgb(233, 216, 181);
}
.cabecalho-titulo{
    color: rgb(34, 119, 0);
    font-size: 37px;
    font-weight: 501;
    padding: 18px;
    text-align: center;
}

.principal{
    display: flex;
    justify-content: space-around;
    width: 33;
    text-align: center;
}
.nozes{
    display: flex;
    text-align: center;
    width: 33%;
}

.modelos{
    display: flex;
    text-align: center;
    width: 33%;
}
.indice{
    width: 33%;
    text-align: center;
}
